{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-homepage-title">
        <h2>Je suis venue vous dire...</h2>
        <p class="homepage-project-link"><a href="{{ path('project_index') }}">voir mon book</p></a>
    </div>
{% endblock %}