{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-confirm-form">
       <h3 style="text-align: center" class="alert alert-success">Nous avons reçu votre message et vous répondrons rapidement !</h3>
    </div>
{% endblock %}