* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'glacial indifference', sans-serif;
}

html {
    background-image: url("../../images/bgsmall.jpg");
}

/* logo */

.logo-img {
    height: 40px;
    width: 40px;
    margin-right: 1rem auto;
}

/* navbar */

.navbar-container {
    background-color: rgb(255, 222, 89);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-elements {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-element {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0 1px;
}

.navbar-a-element {
    color: black;
    text-decoration: none;
}

.navbar-a-element:hover {
    transition: .2s ease-in-out;
    color: white;
}

.fa-angle-right {
    margin-right: .2rem;
}

/*footer*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    background-color: rgb(255, 222, 89);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*project*/

.container-projects {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}
.container-project {
    width: 70%;
    margin: 1rem;
}

.project-title {
    padding-bottom: .5rem;
}

.fa-book-open {
    padding: .5rem;
}
