<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}{% endblock %}
    {% endblock %}
</head>
<body>
{% block header %}
    <nav class="navbar-container">
        <img class="logo-img" src="{{ asset('assets/logo.png') }}" alt="a text logo">
        <ul class="navbar-elements">
            <li class="navbar-element"><a class="navbar-a-element" href="#">Home</a></li>
            <li class="navbar-element"><a class="navbar-a-element" href="{{ path('project_index') }}">Projects</a></li>
            <li class="navbar-element"><a class="navbar-a-element" href="{{ path('contact_index') }}">Contact</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
    <div class="footer">
        <p>Copyright etc etc</p>
    </div>
{% endblock %}

</body>
</html>
